.four-0-four-image{
    margin: 0;
    padding: 0;  
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

.text {
    text-transform: capitalize;
    color: var(--dark-brown);
    position: absolute;
    z-index: 9;
    padding-top: 30px;
    padding-left: 460px;
}

.four-0-four-text {
    text-align: center;
    font-size: 18rem;
    padding-bottom: 0px;
}


.four-0-four-msg{
    text-align: center;
    font-size: 1.5rem;
    padding-top: 0px;
}



.four-0-four-msg a{
    color: var(--orange);
}

.four-0-four-msg a:hover {
    color:var(--yellow);
}
