:root {
    --background-color: #5D2218;
    --light-color: #FFF1D6;
    --dark-brown: #231009;
    --light-brown: #74390D;
    --yellow: #DBA539;
    --orange: #C86E39;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--background-color);

}

.nav {
    padding: 10px 10vw;
    display: grid;
    grid-template-columns: 90px 20px;
    grid-template-rows: 90px 10px;
    justify-content: space-between;
}


.top-right-btns {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2.4em;
    margin-top: 1em;
    justify-items: end;
}

.profile, .basket {
    display: flex;
    justify-content: center;
}


ol {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: center;
    gap: 5em;
    list-style-type: none;
    font-size: large;
}

a {
    text-decoration: none;
    color: var(--light-color);
    padding-left: 20%;
    padding-right: 20%;
}

ol > a:hover {
    color: var(--dark-brown);
    background-color: var(--yellow);
    opacity: 60%;
    
}