:root {
    --background-color: #5D2218;
    --light-color: #FFF1D6;
    --dark-brown: #231009;
    --light-brown: #74390D;
    --yellow: #DBA539;
    --orange: #C86E39;
}

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--background-color);
    z-index: 9;
}



.nav {
    padding: 10px 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: -70px;
}

.top-right-btns {
    display: flex;
    gap: 1em;
    margin-right: -60px;
}

.profile, .basket {
    display: flex;
    justify-content: center;
    height: 30px;
    width: 30px;
    
}


.links-con {
    width: 100%;
    display: flex;
    padding: 10px 10vw;
    justify-content: center;
    list-style: none;
    font-size: large;
    background-color: var(--dark-brown);
    gap: 5em;
}

.link {
    text-transform: capitalize;
    padding: 0 10px;
    margin: 0 5px;
    text-decoration: none;
    color: var(--light-color);
    transition:  .5s;
}

.link:hover {
    background-color: var(--light-brown);
    border-radius: 10px;
    padding: 10px;
    opacity: 70%;
}