:root {
    --darkest-color: #100603;
    --dark-brown: #231009;
    --light-brown: #74390d;
    --light: #f4ebd4;
    --yellow: #d9a239;
    --orange: #c86e3b;
}

body {
    margin: 0px;
    background-color: var(--darkest-color);
}

header {
    width: 100%;
    height: 50px;
    background-color: #000;
    position: absolute;
    z-index: 2;
}

header > h3 {
    color: var(--light);
    margin-left: 30px;
}

.hero {
    width: 100%;
    height: 20%;
    position: relative;
    opacity: 50%;
}

logo {
    display: flex;
    flex-direction: column;
    color: #fff;
}

logo > .name {
    width: 60%;
    height: auto;
    top: 30px;
    left: 150px;
    font-size: 4em;
    position: absolute;
    z-index: 2;
}

logo > h3 {
    top: 190px;
    left: 250px;
    position: absolute;
    z-index: 2;
}

logo > .logo-icon {
    width: 20%;
    height: auto;
    position: absolute;
    left: 270px;
    top: 400px;
}

