.four-0-four-image{
    margin: 0;
    padding: 0;  
    position: relative;
    max-width: 100%;
    max-height: 100%;
}


.four-0-four-msg{
    text-transform: capitalize;
    color: var(--dark-brown);
    text-align: center;
    font-size: 1.8rem;
    padding-top: 0px;
}



.four-0-four-msg a{
    color: var(--orange);
}

.four-0-four-msg a:hover {
    color:var(--yellow);
}
