* {
    position: relative;
}

.container{
    position: relative;
    position: absolute;
    height: 400px;
    z-index: 0;
}

header{
    width: 100vw;
    height: 70px;
    margin: 0px;
    left: 0px;
    top: 0px;
    margin-top: -33px;
    margin-left: -33px;
    background-color: black;
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 2;
}

.logo {
    width: 20%;
    height: auto;
    border: none;
    padding: 0px;
    margin-left: 20px;
}

ul{
    display: flex;
    align-items: end;
    color: #fff;
    list-style: none;
    margin-right: 40px;
}

li{
    padding: 10px;
    font-size: 1.3em;
}

