* {
    padding: 0px;
    margin: 0px;
}

.container {
    position: relative;
    height: auto;
}

.page_main {
    width: 100vw;
    margin-left: -33px;
    margin-top: 200px;
    padding-bottom: 700px;
    position: sticky;
    z-index: 3;
    background-color: #fff;
}

h1{
    margin-top: 70px;
    margin-bottom: 0px;
    font-size: 3em;
}

section{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;

}

.product{
    width: 25%;
    height: 280px;
    padding-bottom: 30px;
}

img{
    width: 70%;
    height: 200px;
    border: 1px solid #000;
    position: relative;
}

.save {
    width: 12%;
    height: 12%;
    border-radius: 50%;
    border: none;
    position: absolute;
    z-index: 2;
    right: 19%;
    top: 45%;
}

.add {
    margin-top: 10px;
}