* {
    padding: 0px;
    margin: 0px;
}

section{
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
}

.product{
    width: 25%;
    height: 280px;
    padding-bottom: 30px;
}

img{
    width: 70%;
    height: 200px;
    border: 1px solid #000;
    position: relative;
}

.save {
    width: 12%;
    height: 12%;
    border-radius: 50%;
    border: none;
    position: absolute;
    z-index: 2;
    right: 19%;
    top: 45%;
}

.add {
    margin-top: 10px;
}